@import '@fontsource/inter/400.css';
@import '@fontsource/inter/700.css';
@import 'tailwindcss';

@theme {
  --font-display: 'Inter';
  --color-blue-sky: #1d9bf0;
  --color-border-grey: #333639;
  --color-text-grey: #71767b;
}
body {
  overscroll-behavior: none;
  background-color: #000;
  font-family: 'Inter';
  color: #e7e9ea;
}
* {
  outline: none;
}
